<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Entry page{% endblock %}</title>
</head>
<body>
    <form action="{% block backurl %}{% url 'recipe_list' %}{% endblock %}" method="get">
        <input type="Submit" value="Back">
    </form>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        <input type="Submit" value="Create">
    </form>
</body>
</html>