{% extends './base.html' %}
{% block mainpagecontent %}
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="field">
                <div class="label" for="{{field.label_for_id}}">{{ field.label|title }}</div>
                <div class="control has-icons-right">
                    {{ field }}
                    <span class="icon is-small is-right">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>
        {% endfor %}
        <input type="Submit" value="Create">
    </form>
{% endblock mainpagecontent %}