<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <title>{{recipe.name|title}}</title>
</head>
<body>
    <h1>
        {{recipe.name|title}}
    </h1>
    <div>
        <form action="{% url 'recipe_edit' recipe.id %}" method="get">
            <input type="Submit" name="Edit" value="Edit Recipe">
        </form>
    </div>

    <h3>
        Ingredients
    </h3>
    <ul>
        {% for ingredient in ingredients %}
            {# checks if its a weight or quantity and attaches the appropriate units. #}
            <li>{%if ingredient.quantity%} {{ingredient.quantity}} {%elif ingredient.weight%}{{ingredient.weight}}g{%endif%} {{ingredient.ingredient.name}}
        {% endfor %}
    </ul>
    <br>
    <h3>
        Steps
    </h3>
    <ol>
        {% for step in steps %}
            <li>{{step.text}}</li>
        {% endfor %}
    </ol>
    <div>
        <form action="{% url 'recipe_list' %}" method="get">
            <input type="Submit" name="Back" value="Go back">
        </form>
    </div>
</body>
</html>