<!DOCTYPE html>
<html>
<head>
    <title>Entry page</title>
</head>
<body>
    You've reached the entry page.
    <form action="{% url 'resepti/submit'" method="post">
        {% csrf_token %}
        <div>
            <label for="name">Recipe Name:</label>
            <input type="text" id="recipe_name" name="recipe_name">
        </div>
        <div>
            <ul>
            {% for category in categories %}
                <li>
                    <label for="category">{{category}}:</label>
                    <input type="radio" id="category" name="category" value="4">
                </li> 
            {% endfor %}
            </ul>
        </div>
        <div>
            <label for="servings">Servings:</label>
            <input type="number" id="servings" name="servings" value="4">
        </div>

        <input type="submit" name="create" value="OK">
    </form>
</body>
</html>