<!DOCTYPE html>
<html>
<head>
    <title>{{recipe.name|title}}</title>
</head>
<body>
    <h1>
        {{recipe.name|title}}
    </h1>

    <h3>
        Ingredients
    </h3>
    <ul>
        {% for ingredient in ingredients %}
            {# checks if its a weight or quantity and attaches the appropriate units. #}
            <li>{%if ingredient.quantity%} {{ingredient.quantity}} {%elif ingredient.weight%}{{ingredient.weight}}g{%endif%} {{ingredient.ing.name}}
        {% endfor %}
    </ul>
    <br>
    <h3>
        Steps
    </h3>
    <ol>
        {% for step in steps %}
            <li>{{step.text}}</li>
        {% endfor %}
    </ol>
</body>
</html>