{% extends '../layouts/edit_view.html' %}
{% block title %}Edit Ingredient{% endblock %}
{% block heading %}Ingredient{% endblock %}
{% block content %}
    {% block section_heading1 %}{{ingredient.name}}:{% endblock %}
    {% block section_body1 %}
        Density: {{ ingredient.density }} g/ml3
        {% if ingredient.calories_per_each %}
            <div>{{ ingredient.calories_per_each }} calories per each serving</div>
        {% else %}
            <div>{{ ingredient.calories_per_gram }} calories per gram</div>
        {% endif %}
    {% endblock %}

    {% block section_heading2 %}Fields to edit:{% endblock %}
    {% block section_body2 %}
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    {{ field.label }}: {{ field }} </div>
            {% endfor %}
            <input type="Submit" name="edit-ingredient" value="Edit Ingredient">
        </form>
    {% endblock %}
{% endblock %}